@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Стили для профиля */
.profile {
  display: flex;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.description {
  margin-left: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.tag {
  color: #888;
  margin: 5px 0;
}

.location {
  color: #888;
  margin: 0;
}

.stats {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.stats li {
  margin-right: 30px;
}

.label {
  font-weight: bold;
}

.quantity {
  font-size: 18px;
}

/* Стили для статистики */
.statistics {
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.stat-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Стили для друзей */
.friend-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.name {
  margin: 0;
}

/* Стили для истории транзакций */
.transaction-history {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.transaction-history th {
  background-color: #f4f6f8;
  padding: 10px;
  text-align: left;
}

.transaction-history td {
  padding: 10px;
}

.transaction-history tr:nth-child(even) {
  background-color: #f8f8f8;
}
